# -----------------------------------------------------------------------------
# Copyright Siemens AG, 2013-2015. Part of the SW360 Portal Project.
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.
#
# -----------------------------------------------------------------------------

# Ignore private and public keys
*id_rsa*
*key_vagrant*


#Ignore downloads
*.box
*.zip
*.war
*.jar
*.tar.gz
.vagrant
*.deb
*.crt
siemagrant_key_for*
*.backup
*.log
*.couch
.bundle
.idea
*.iml
/generate-box/*.box_old
/shared/.sw360db_design/
/shared/m2repo/

# irnore macosx file system files
.DS_Store
